apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sandbox-weatherly-app
  namespace: argocd
  labels:
    workload: applications
spec:
  project: default
  source:
    repoURL: https://github.com/WellArchitectedLabs/WellArchitectedLab.MonoRepo.git
    targetRevision: feature/k8sWorkloadsMigration
    path: k8s/overlays/sandbox
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 2
      backoff:
        duration: 5s