apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-servicemonitors
  namespace: argocd
  labels:
    isIstio: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "3"   # Install monitors after istio deamon, crds and ingress
spec:
  project: default
  source:
    repoURL: https://github.com/WellArchitectedLabs/WellArchitectedLab.MonoRepo.git
    path: k8s/gitops/addons/istio/extras
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m