# CODEOWNERS file

# Each line is: <file pattern> <team or username>
# GitHub will request these users/teams for review automatically

# All backend repo files require weather forecast backend team
src/insights/bff/**         wf-insights-team
src/insights/collector/**   wf-insights-team
src/insights/frontend/**    wf-insights-team
src/master-data/**          wf-masterdata-team
src/calibration/**          wf-calibration-team

# Data science team is owner of the insights engine
src/insights/engine/**      wf-datascience-team

# Kubernetes and IAC files require DevOps team
k8s/**                      devops-team
iac/**                      devops-team
.github/workflows/**        devops-team
