# CODEOWNERS file

# Each line is: <file pattern> <team or username>
# GitHub will request these users/teams for review automatically

# All backend repo files require weather forecast backend team
src/weather-forecast-api/**       @BalighOrganization/wf-backend-team

# All frontend repo files require weather forecast frontend team
src/weather-forecast-frontend/**     @BalighOrganization/wf-frontend-team

# Kubernetes and IAC files require DevOps team
k8s/**  @BalighOrganization/devops-team
iac/**  @BalighOrganization/devops-team