apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
  labels:
    workload: operations
    isGrafana: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "11" # We need tempo to run before grafana is started
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: tempo
    targetRevision: 1.7.1
    helm:
      values: |
        tempo:
          # retention is the period of time
          # for traces persistence
          retention: 24h

        persistence:
          enabled: true
          size: 5Gi

        resources:
          requests:
            memory: "100Mi"
            cpu: "50m"

        # Define an OTLP receiver
        # For receiving open telemetry from otlp collector
        receivers:
          otlp:
            protocols:
              http:
                enabled: true
              grpc:
                enabled: true

        # Activate metrics generator
        # Necessary for prometheus integration and for Tempo database monitoring via dedicated spans
        # The most common metric is: tempo_spanmetrics_latency_bucket
        # We also include the service_graph processor which correlates grafana metrics with their related traces
        # That is necessary for grafana drill down functionality to traces from prometheus metrics
        metricsGenerator:
          enabled: true

          processors:
            - service-graphs
            - span-metrics

          config:
            registry:
              collection_interval: 15s

          storage:
            path: /var/tempo/metrics

          serviceMonitor:
            enabled: true

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
