apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo
  namespace: argocd
  labels:
    workload: operations
    isGrafana: "true"
  annotations:
    argocd.argoproj.io/sync-wave: "11" # We need tempo to run before grafana is started
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: tempo
    targetRevision: 1.7.1
    helm:
      values: |
        tempo:
          # retention is the period of time
          # for traces persistence
          retention: 24h
          
          # Define an OTLP receiver
          # For receiving open telemetry from otlp collector
          receivers:
            otlp:
              protocols:
                grpc:
                  enabled: true
                http:
                  enabled: true
          
          # Activate metrics generator
          # Metrics generator is necessary for plugging Tempo to prometheus's metrics
          # This will allow us to monitor Tempo (which is basically a traces system) via dedicated metrics that are pushed into prometheus db
          metricsGenerator:
            enabled: true
            remoteWriteUrl: "http://prometheus-server-kube-pro-prometheus.monitoring.svc.cluster.local:9090/api/v1/write"
            
            processor:
              # We also include the service_graph processor which correlates grafana metrics with their related traces
              # That is necessary for grafana drill down functionality to traces from prometheus metrics
              service_graphs:
                dimensions:
                  - "service.name"
                  - "service.namespace"
                wait: 10s
                max_items: 10000
              
              # Processor that will push metrics that are related to Tempo traces (or what we call spans in Tempo terminology) 
              # The most common metric is: tempo_spanmetrics_latency_bucket
              span_metrics:
                dimensions:
                  - "service.name"
                  - "service.namespace"
                  - "http.method"
                  - "http.status_code"

        persistence:
          enabled: true
          size: 5Gi

        resources:
          requests:
            cpu: 100m
            memory: 50Mi

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m