apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo-prometheus-servicemonitors
  namespace: argocd
  labels:
    workload: operations
    stack: grafana
  annotations:
    argocd.argoproj.io/sync-wave: "13" # We need service monitor to deploy just after tempo app
spec:
  project: default
  source:
    repoURL: https://github.com/WellArchitectedLabs/WellArchitectedLab.MonoRepo.git
    path: k8s/gitops/addons/tempo/prometheus-monitors
    targetRevision: develop
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m