services:
  masterdata-postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: master_data
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 10

  # We apply the latest migrations
  migrate:
    # using flyway migration docker image that we pull from dockerhub
    image: flyway/flyway:11.20.3
    depends_on:
      masterdata-postgres:
        condition: service_healthy
    volumes:
      # we mount the local data/migrations folder to flyway/sql folder
      - ../data/migrations:/flyway/sql
    # we point to the local postgres db
    command: -url=jdbc:postgresql://masterdata-postgres:5432/master_data -user=postgres -password=postgres migrate
    # very important in order to execute migration only once
    restart: "no"

  cities-import:
    tty: true
    stdin_open: true
    build:
      context: ./
      dockerfile: Dockerfile.cities-initializer
    depends_on:
      masterdata-postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    environment:
      - POSTGRES_DSN=postgresql://postgres:postgres@masterdata-postgres:5432/master_data?sslmode=disable
    volumes:
      # mount the local file in the image and mark it as read only
      - ./data/imports:/data:ro
    command: ["--input", "/data/capitals.csv"]
    # the init script needs to be ran once
    restart: "no"
  wf-actuals-import:
    tty: true
    stdin_open: true
    build:
      context: ./
      dockerfile: Dockerfile.wf-actuals-initializer
    depends_on:
      masterdata-postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
      cities-import:
        condition: service_completed_successfully
    environment:
      - POSTGRES_DSN=postgresql://postgres:postgres@masterdata-postgres:5432/master_data?sslmode=disable
    volumes:
      - ./data/imports:/data:ro
    command: ["--input", "/data/weather_hourly-full.csv"]
    restart: "no"
  wf-actuals-range-db-import:
    profiles:
      - manual
    tty: true
    stdin_open: true
    build:
      context: ./
      dockerfile: Dockerfile.wf-actuals-range
    depends_on:
      masterdata-postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
      cities-import:
        condition: service_completed_successfully
    environment:
      - POSTGRES_DSN=postgresql://postgres:postgres@masterdata-postgres:5432/master_data?sslmode=disable
    command:
      - "--from-date"
      - "${FROM_DATE:-2026-01-01}"
      - "--to-date"
      - "${TO_DATE:-2026-01-02}"
    restart: "no"

# necessary for postgres persistence
volumes:
  postgres-data: