apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: tempo
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: tempo
      app.kubernetes.io/name: tempo
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: tempo-prom-metrics  # Tempo exposes metrics on this port name, please check service spec for port name validation
      interval: 30s
      scrapeTimeout: 10s