apiVersion: storage.k8s.io/v1
# A storage class defines:
  # 1 - What kind of storage (Blob, Disk, File)
  # 2 - How it is provisioned (CSI driver + parameters)
  # 3 - With what characteristics (protocol, SKU, auth type)
# A storage class does not mount the file itself. It is just the definition of a storage connection that plugs with CSI driver.
kind: StorageClass
metadata:
  name: azureblob-fuse-msi
# This storage class is plugged to blob csi driver that is installed on cluster startup via argocd
provisioner: blob.csi.azure.com
parameters:
  # Basically, two protocols are possible NFS and FUSE
  # Blob fuse is an open source virtual file system driver
  # Ensuring seamless Azure Blob Storage integration with Linux file system
  # Fuse is widely populat for Linuw based systems and certainly for kubernetes integrations
  # BlobFuse is also optimized for big data and High Performance Computing
  protocol: fuse
  # Managed System Identity for authentication
  # This is the most basic / azure compatible authentication mode
  # Other candidates are SAS Keys, Access tokens based auth (with connection strings and sealed secrets)
  # We grant kubelet identity (which is used by kubernetes pods) access to the storage account scope as Azure Blob Data Contributor
  # Please check terraform security module for more details
  authType: msi
  # container name in storage account
  containerName: imports
  # resource group in which storage account is created
  resourceGroup: rg-kubernetes-dev-001
  # storage account name
  storageAccount: stwfimportsdev
# Keep the pods using the storage class alive when storage class is destroyed
# We chose this mode because the staging pods can be usable outside azure using the direct database import functionality
reclaimPolicy: Retain
volumeBindingMode: Immediate