prometheus:
  prometheusSpec:
    nodeSelector:
      workload: operations
    tolerations:
      - key: workload
        operator: Equal
        value: operations
        effect: NoSchedule

alertmanager:
  enabled: false

grafana:
  enabled: false

nodeExporter:
  enabled: false

kubeStateMetrics:
  enabled: false