apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: weather-forecast-bff-hpa
  namespace: backend
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: weather-forecast-bff
  minReplicas: 1
  maxReplicas: 2
  metrics:
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 70