apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: frontend
spec:
  selector:
    app: weather-forecast-frontend
    version: v1
  ports:
  - name: http
    port: 80
    targetPort: 80