apiVersion: batch/v1
kind: Job
metadata:
  name: dev-cities-import-as-root
  namespace: backend
spec:
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
      labels:
        app: cities-import
        environment: dev
    spec:
      tolerations:
      - key: workload
        operator: 'Equal'
        value: 'weather-forecast'
        effect: 'NoSchedule'
      nodeSelector:
        kubernetes.azure.com/mode: user
      
      # ⬇️ Force root user
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      
      containers:
      - name: cities-import
        image: acrdevtshpwn.azurecr.io/cities-initializer:0.1.0-feaure-staging-k8s.1-cd03d2d
        args: ["--input", "/mnt/blob/capitals.csv"]
        volumeMounts:
        - name: imports-blob
          mountPath: "/mnt/blob"
      
      volumes:
      - name: imports-blob
        persistentVolumeClaim:
          claimName: dev-pvc-az-blob-imports
      
      restartPolicy: Never