apiVersion: batch/v1
kind: Job
metadata:
  name: cities-import
  namespace: backend
  labels:
    app: cities-import
spec:
  template:
    metadata:
      name: cities-import
      labels:
        app: cities-import
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
      tolerations:
      - key: workload
        operator: 'Equal'
        value: 'weather-forecast'
        effect: 'NoSchedule'
      # Where will my pods will run, and in what node label
      # We should add a toleration because the user nodes are tainted and will be not schedule the pods if the taint is not provided
      nodeSelector:
        kubernetes.azure.com/mode: user
      containers:
      - name: cities-import
        image: acrdevtshpwn.azurecr.io/cities-initializer:0.1.0-feaure-staging-k8s.1-12860ec
        args: ["--input", "/mnt/blob/capitals.csv"]
        env:
          - name: POSTGRES_DSN
            valueFrom:
              secretKeyRef:
                name: master-data-db-secrets
                key: DB_APP_DSN
        volumeMounts:
        - name: imports-blob
          mountPath: "/mnt/blob"
      volumes:
      - name: imports-blob
        persistentVolumeClaim:
          claimName: dev-pvc-az-blob-imports
      restartPolicy: Never