apiVersion: batch/v1
kind: Job
metadata:
  name: cities-import5
  namespace: backend
  labels:
    app: cities-import5
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  template:
    metadata:
      name: cities-import5
      labels:
        app: cities-import5
    spec:
      # This is very important in order for csv resolving to work
      # Container needs to be ran as root
      securityContext:
        runAsUser: 0 #root
        runAsGroup: 0
        fsGroup: 0
      tolerations:
      - key: workload
        operator: 'Equal'
        value: 'weather-forecast'
        effect: 'NoSchedule'
      # Where will my pods will run, and in what node label
      # We should add a toleration because the user nodes are tainted and will be not schedule the pods if the taint is not provided
      nodeSelector:
        kubernetes.azure.com/mode: user
      initContainers:
      - name: wait-for-postgres
        image: bitnamilegacy/postgresql:15.5.0-debian-11-r0
        command:
          - /bin/sh
          - -c
          - |
            until pg_isready -h master-data-database-postgresql.backend.svc.cluster.local -U postgres; do
              echo "Waiting for Postgres..."
              sleep 2
            done
      containers:
      - name: cities-import5
        image: acrdevtshpwn.azurecr.io/cities-initializer:0.1.0-feaure-staging-k8s.1-12860ec
        args: ["--input", "/mnt/blob/capitals.csv"]
        env:
          - name: POSTGRES_DSN
            valueFrom:
              secretKeyRef:
                name: master-data-db-secrets
                key: DB_APP_DSN
        volumeMounts:
        - name: imports-blob
          mountPath: "/mnt/blob"
      volumes:
      - name: imports-blob
        persistentVolumeClaim:
          # reference created claim resource
          claimName: dev-pvc-az-blob-imports
      restartPolicy: Never