# ------------------------
# Prometheus configuration
# ------------------------
prometheus:
  prometheusSpec:
    nodeSelector:
      workload: weather-forecast
    tolerations:
      - key: "workload"
        operator: "Equal"
        value: "weather-forecast"
        effect: "NoSchedule"

    # VERY IMPORTANT
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

    # Allow Istio ServiceMonitors
    serviceMonitorSelector: {}
    podMonitorSelector: {}

# ------------------------
# Alertmanager configuration
# ------------------------
alertmanager:
  nodeSelector:
    workload: weather-forecast
  tolerations:
    - key: "workload"
      operator: "Equal"
      value: "weather-forecast"
      effect: "NoSchedule"
      
grafana:
  enabled: true