# ------------------------
# Prometheus configuration
# ------------------------
prometheus:
  prometheusSpec:
    nodeSelector:
      workload: operations
    tolerations:
      - key: "workload"
        operator: "Equal"
        value: "operations"
        effect: "NoSchedule"

# ------------------------
# Alertmanager configuration
# ------------------------
alertmanager:
  nodeSelector:
    workload: operations
  tolerations:
    - key: "workload"
      operator: "Equal"
      value: "operations"
      effect: "NoSchedule"

# ------------------------
# Grafana disabled (as in your ArgoCD app)
# ------------------------
grafana:
  enabled: true