apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: istio-proxy
  namespace: istio-system
spec:
  selector:
    matchExpressions:
      - key: security.istio.io/tlsMode
        operator: Exists
  namespaceSelector:
    any: true
  podMetricsEndpoints:
    # Pointing to the endpoint which is exposed by the istio-proxy metrics
    - port: http-envoy-prom
      path: /stats/prometheus
      interval: 15s