# This security addon will enable storing and managing secrets securely in Git
# With sealed secrets, we can encrypt our Kubernetes secrets into a format that is safe to store in Git
# And that can only be decrypted by the cluster's identity
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets
  namespace: argocd
  labels:
    workload: operations
    stack: kube
spec:
  project: default
  source:
    repoURL: https://bitnami-labs.github.io/sealed-secrets
    chart: sealed-secrets
    targetRevision: "2.6.0"
    helm:
      values: |
        fullnameOverride: sealed-secrets
        keyRenewPeriod: 0  # Disable automatic key rotation; rotation should be manual
        resources:
          requests:
            cpu: 50m
            memory: 10Mi
          limits:
            cpu: 200m
            memory: 128Mi
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m