<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Your GitHub Packages feed -->
        <add key="GitHub" value="https://nuget.pkg.github.com/WellArchitectedLabs/index.json" />
        <!-- Optional: fallback to nuget.org -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
     <packageSourceCredentials>
        <GitHub>
            <!-- GitHub Packages credentials - Injected by CI level and overriden by local development github auth config-->
            <add key="Username" value="%GITHUB_ACTOR%" />
            <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
        </GitHub>
    </packageSourceCredentials>
</configuration>