name: Build & Push Weather Forecast API to Docker Registry

on:
    push:
        branches: [ "main" ]
        paths:
          - "src/weather-forecast-api/**"
    pull_request:
        paths:
          - "src/weather-forecast-api/**"

jobs:
  call-template:
    uses: ./.github/workflows/docker-ci.template.yml
    with:
      service_name: weather-forecast-api
      service_path: src/weather-forecast-api
      gitversion_config_path: src/weather-forecast-api/GitVersion.yml