name: Build & Push to Docker Registry

on:
    push:
        branches: [ "main" ]

jobs:
    weather-forecast-api:
        name: Build & Push API
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Login to Registry
              run: |
                echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ secrets.ACR_LOGIN_SERVER }} \
                -u ${{ secrets.ACR_USERNAME }} --password-stdin
            
            - name: Build weather forecast API image
              run: |
                docker build -t  ${{ secrets.ACR_LOGIN_SERVER }}/weather-forecast-api:latest ./src/weather-forecast-api
            
            - name: Push docker image
              run: |
                docker push ${{ secrets.ACR_LOGIN_SERVER }}/weather-forecast-api:latest
    
    weather-forecast-frontend:
        name: Build & Frontend
        runs-on: ubuntu-latest
    
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Login to Registry
              run: |
                echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ secrets.ACR_LOGIN_SERVER }} \
                -u ${{ secrets.ACR_USERNAME }} --password-stdin
            
            - name: Build weather foreacst frontend image
              run: |
                docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/weather-forecast-frontend ./src/weather-forecast-frontend

            - name: Push docker image
              run: |
                docker push ${{ secrets.ACR_LOGIN_SERVER }}/weather-forecast-frontend:latest



