name: CI - Build & Push Insights Frontend

on:
    push:
        branches:
          - main
          - develop
          - 'release/**'
        paths:
          - src/master-data/staging/**
    pull_request:
        paths:
          - src/master-data/staging/**
    workflow_dispatch:

jobs:
    StagingScripts-BuildAndPush:
        uses: ./.github/workflows/template_ci.yml
        with:
            service_name: wf-actuals-db-importer
            service_path: src/master-data/staging
            gitversion_config_path: src/master-data/staging/GitVersion.yml
            dockerfile_name: Dockerfile.wf-actuals-range
        secrets:
            ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
            ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
            ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
